/* common */
.logo {font-family: var(--eng-font); font-size: var(--font-size32); font-weight: 700;}
.logo .w6em {max-width: 6em;}
.logo .w4em {max-width: 4em;}

/* icon */
.ico {display: block; background-position: center; background-repeat: no-repeat; border-radius: 100%;}
.i-survey-fill {background-image: url("../image/icon/fill_board.svg") !important; background-color: var(--primary-color);}
.i-quiz-fill {background-image: url("../image/icon/fill_question.svg") !important; background-color: var(--primary-color);}
.i-calender-fill {background-image: url("../image/icon/fill_calendar.svg") !important;}
.i-date-fill {background-image: url("../image/icon/fill_clock.svg") !important;}
.i-survey-line {background-image: url("../image/icon/outline_board.svg");}
.i-answer-view {background-image: url("../image/icon/glass-solid.svg");}
.i-quiz-line {background-image: url("../image/icon/outline_question.svg");}
.i-logout {background-image: url("../image/icon/outline_logout.svg");}
.i-user-fill {background-image: url("../image/icon/fill_user3.svg") !important; background-color: var(--primary-color);}

/* button icon */
.i-form {background-image: url("../image/icon/outline_edit_blue.svg");}
.i-short-answer {background-image: url("../image/icon/outline_textalign_blue.svg");}
.i-multiple {background-image: url("../image/icon/outline_radio_active_blue.svg");}
.i-preview {background-image: url("../image/icon/outline_preview.svg");}
.i-chart {background-image: url("../image/icon/outline_chart.svg");}
.i-download {background-image: url("../image/icon/download.svg");}
.i-view-que {background-image: url("../image/icon/outline_view_blue.svg"); border-radius: 0;}
.i-group {background-image: url("../image/icon/fill_group_blue.svg"); border-radius: 0;}
.i-trash {background-image: url("../image/icon/outline_trash_blue.svg");}
.i-send {background-image: url("../image/icon/outline_send_white.svg");}
.i-pencil {background-image: url("../image/icon/outline_pencil.svg") !important;}
.i-align {background-image: url("../image/icon/outline_align_white.svg");}
.i-add {background-image: url("../image/icon/outline_add_blue.svg");}
.i-linkcopy {background-image: url("../image/icon/outline_link_white.svg");}
.i-msg-send {background-image: url("../image/icon/outline_sms_tracking_white.svg");}

/* button */
.st-text {display: inline-block; padding: .5em; border-bottom: 2px solid; color: var(--primary-color); font-size: 14px; font-weight: 500; letter-spacing: 0;}
.st-text:hover {border-bottom: 2px solid var(--secondary-color1); color: var(--basic-color) !important;}

.st-fill {padding: .5em 1em; background-color: var(--primary-color); color: #fff; font-weight: 600; line-height: 2; border-radius: .5em; display: flex; align-items: center; justify-content: space-between;}
.st-fill .ico {width: 1.5em; height: 1.5em; margin-right:.5em; background-size: cover;}
.st-fill span {display: inline-block; padding: 0 1.25em;}
.st-fill:hover {background-color: var(--hover-color);}

.st-ico {display: inline-flex; align-items: center; justify-content: space-between; padding: .5em 1em; border: 1px solid var(--line-color); background-color: #fff; border-radius: .5em; font-weight: 600; line-height: 2;}
.st-ico .ico {width: 1.5em; height: 1.5em; margin-right:.5em; background-size: cover;}
.st-ico span {display: inline-block; padding: 0 1.25em; color: var(--primary-color);}
.st-ico:hover {border: 1px solid var(--primary-color); background-color: #E3E8F4;}

.bt-logout {display: inline-flex; align-items: center; font-family: var(--eng-font); letter-spacing: 0;}
.bt-logout .ico {width: 2em; height: 2em; margin-right: .5em; background-size: cover;}
.bt-logout:hover {text-decoration: underline;}

.bt-modify .ico {width: 24px !important; height: 24px !important; background-size: 100% !important; border-radius: 0 !important;}

/* input text field */
.it {width: 100%; padding: .75em 1em; border-radius: .75em; border: 1px solid var(--line-color); background-color: #fff; outline: none;}
.it:focus {border-color: var(--primary-color);}
.it:disabled {background-color: #F4F6FB; color: var(--text-color1);}

/* input radio */
.ctm-radio {display: inline-flex; align-items: center; gap: .5em; padding: .5em; padding-right: 1em; font-weight: 500; color: var(--text-color1); border-radius: 2.5em; border: 1px solid var(--line-color);}
.ctm-radio input[type="radio"] {appearance: none; width: 20px; height: 20px; border: 2px solid var(--text-color1); border-radius: 100%; position: relative;}
.ctm-radio input[type="radio"]:checked {border-color: var(--primary-color);}
.ctm-radio input[type="radio"]:checked:before {content: ''; display: block; width: 10px; height: 10px; background-color: var(--primary-color); border-radius: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.ctm-radio input[type="radio"]:checked + label {color: var(--basic-color);}
/* input radio : chips */
.ctm-radio-chips {}
.ctm-radio-chips input[type="radio"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
.ctm-radio-chips input[type="radio"] + label {display: inline-flex; align-items: center; gap: .5em; padding: .5em; padding-right: 1em; border-radius: 2.5em; border: 1px solid var(--line-color);}
.ctm-radio-chips input[type="radio"] + label:before {content: ''; display: block; width: 24px; height: 24px; background: url("../image/icon/approve.svg") center no-repeat; border-radius:100%;}
.ctm-radio-chips input[type="radio"]:checked + label {border-color: var(--primary-color); background-color: var(--primary-color); color: #fff;}
.ctm-radio-chips input[type="radio"]:checked + label:before {background: url("../image/icon/approve_blue.svg") center no-repeat #fff;}

/* input checkbox */
.ctm-chk {display: inline-flex;}
.ctm-chk input[type="checkbox"] {appearance: none; width: 24px; height: 24px; border: 2px solid var(--text-color1); border-radius: 9px; position: relative;}
.ctm-chk input[type="checkbox"]:before {content: ''; display: block; width: 20px; height: 20px;}
.ctm-chk input[type="checkbox"]:checked {border-color: var(--primary-color);}
.ctm-chk input[type="checkbox"]:checked:before {background: url("../image/icon/approve_blue.svg") center / 100% no-repeat; border-radius:100%;}
/* checkbox switch */
.ctm-chk-switch {width: 40px; height: 24px; position: relative;}
.ctm-chk-switch input[type="checkbox"] {position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.ctm-chk-switch label {display: block; width: 100%; height: 24px; border-radius: 24px; background-color: rgba(154, 152, 167, .5);}
.ctm-chk-switch label .swc-on {display: block; width: 24px; height: 24px; border-radius: 100%; background-color: var(--text-color1); position: absolute; top: 0; left: 0; transition: all .2s ease-in;}
.ctm-chk-switch input[type="checkbox"]:checked + label {background-color: rgba(57, 114, 219, .5);}
.ctm-chk-switch input[type="checkbox"]:checked + label .swc-on {background-color: var(--primary-color); left:16px;}

/* input date */
input[type="date"] {max-width: 10em; padding: .5em 1em; border-radius: 1em; border: 1px solid var(--line-color); letter-spacing: -0.04em;}
input[type="date"]::-webkit-calendar-picker-indicator {display: none; appearance: none;}
input[type="date"]::-webkit-calendar-picker-indicator { display: block; background: url('../image/icon/outline_calendar.svg') center right no-repeat; width: 2em; height: 2em; border-width: thin;}

/* form selectbox */
.frm-select .select-warp {display: grid; grid-template-columns: repeat(2, auto 1fr); align-items: center;}
.frm-select .select-warp label {font-weight: 500; padding-right: 1em;}
/* form selectbox : nice-select jquery lib */
.nice-select { -webkit-tap-highlight-color: transparent; background-color: #fff; border-radius: 1em; border: solid 1px #e8e8e8; cursor: pointer; display: block; height: 3.5em; line-height: 2; outline: none; padding: .75em 1.5em; position: relative; text-align: left !important; transition: all .2s linear; white-space: nowrap; width: auto; font-weight: 500; grid-column: 2 / 5;}
.nice-select:after {content: ''; display: block; width: 2em; height: 2em; background:url("../image/icon/arrow_right1.svg") center no-repeat; position: absolute; top: 50%; right: 1em; transform: translateY(-50%) rotate(90deg); transition: all .15s linear;}
.nice-select .list {width: 100%; height: 0; background-color: #fff; border-radius: 1em; border: 1px solid var(--line-color); margin-top: .25em; opacity: 0; overflow: hidden; padding: 0; position: absolute; top: 100%; left: 0; transform-origin: 50% 0; transition: all .2s linear, opacity .15s ease-out;}
.nice-select .list:hover .option:not(:hover) { background-color: transparent !important; }
.nice-select .option { cursor: pointer; font-weight: 500; border-bottom: 1px solid var(--line-color); outline: none; padding: .75em 1.5em; text-align: left; -webkit-transition: all 0.2s; transition: all 0.2s; color: var(--text-color1);}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {color: var(--basic-color);}
.nice-select .list .option:last-child {border-bottom: none;}
/* form selectbox : nice-select jquery lib : click */
.nice-select.open:after { transform: translateY(-50%) rotate(-90deg); }
.nice-select.open .list { height: auto; opacity: 1; transform: scale(1) translateY(-50); z-index: 9;}
/* form selectbox : select group */
.frm-sel-group {padding-top: 1.5em; border-top: 1px solid var(--line-color);}
.frm-sel-group .nice-select {border-radius: .75em; height: 3em; padding: .5em .5em .5em 1em;}
.frm-sel-group .nice-select:after {right: .25em;}
.frm-sel-group .nice-select .option {padding: .5em 1.25em;}

/* form upload */
.frm-upload .img-view {display: flex; align-items: center; justify-content: center; width: 100%; height: 10em; background-color: #E3E8F4; border-radius: 1em; overflow: hidden;}
.frm-upload label {display: inline-block; width: 100%; height: auto; padding: 11px 0; margin-top: 4px; color: var(--primary-color); border: 1px solid var(--line-color); border-radius: 8px; text-align: center; font-size: 14px; font-weight: 600;}
.frm-upload label:hover {border: 1px solid var(--hover-color); background-color: #E3E8F4;}
.frm-upload input[type="file"] {position: absolute; width: 0; height: 0; padding: 0; border: 0; overflow: hidden;}

/* modal layer */
.modal-layer {padding: 1.5em; background-color: #fff; border-radius: 1em; display: flex; flex-direction: column; justify-content: center; align-items: center;}

.window_alert {position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); display: none; justify-content: center; align-items: center;}
.window_alert .modal-layer {width:20em;}
.window_alert .inner {padding: 1.5em 1em; display: flex; flex-direction: column; align-items: center; gap: 1em; text-align: center;}
.window_alert .inner > .ico {width: 1.5em; height: 1.5em; background-image: url("../image/icon/info-circle.svg");}
.window_alert .bt-wrap {width: 100%; margin-top: 1em; display: flex; justify-content: space-between; gap: .5em;}
.window_alert .bt-wrap button {width: 100%; justify-content:center;}

.frm_alert .modal-layer {width: 40em; padding: 0; overflow: hidden;}
.frm_alert .inner {width: 100%; padding: 0; display: block; text-align: left;}
.frm_alert .inner h2 {width: 100%; padding: 1.2em; font-weight: 700; font-size: 1.25em; color: var(--primary-color); background-color: var(--bg-blue); text-align: left;}
.frm_alert .inner .forms-write-wrap {padding: 1.5em; margin-top: 0; display: grid; grid-template-columns: 1fr; justify-content: flex-start; gap: 1em;}
.frm_alert .inner .frm-area label {display: block; font-weight: 500; padding-bottom: 1em;} 
.frm_alert .inner .frm-area .inp-group {width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); gap: .5em;}
.frm_alert .inner .frm-area .inp-group .it {grid-column: 1 / 4;}
.frm_alert .bt-wrap {padding: 1.5em; padding-top: 0; margin-top: 0; justify-content: center;}
.frm_alert .bt-wrap button {width: auto;}
@media screen and (max-width: 667px){
	.frm_alert .modal-layer {width: 93.66%;}
	.frm_alert .inner .frm-area .inp-group {grid-template-columns: 1fr; column-gap: 0;}
	.frm_alert .inner .frm-area button {justify-content: center;}
}

/* not result */
.not-result {width: 100%; height: auto; padding: 6em 1.5em; background-color: #fff; border: 1px solid var(--line-color); border-radius: 1em; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.not-result > .ico {width: 3.5em; height: 3.5em; background-image: url("../image/icon/emoji_sad.svg"); background-size: 2.5em; background-color: var(--text-color1); border-radius: 100%;}
.not-result p {margin: 2em 0; line-height: 1.4;}
.not-result ul {}
.not-result ul li {display: inline-block; margin: .25em;}

/* pagenate */
.pagenate {margin: 2em 0; display: flex; justify-content: center;}
.pagenate .inner {background-color: #fff; border-radius: 3em; box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25); display: flex; align-items: center;}
.pagenate .inner a {display: block; width: 3em; padding: 1.0625em 0.75em; text-align: center; font: 500 14px var(--eng-font); position: relative;}
.pagenate .inner a:after {content: ''; display: none; width: 100%; height: 2px; background-color: currentColor; position: absolute; bottom: -2px; left: 0;}
.pagenate .inner a .ico {width: 1.5em; height: 1.5em; background-image: url("../image/icon/right_arrow3.svg");}
.pagenate .inner a.prev {border-right: 1px solid var(--line-color);}
.pagenate .inner a.next {border-left: 1px solid var(--line-color);}
.pagenate .inner a.next .ico {transform: rotate(-180deg)}
.pagenate .inner a.current {color: var(--primary-color);}
.pagenate .inner a.current:after {display: block;}

/* table */
.tbl-wrap {width: 100%; height: auto; margin-top: 2em;}
.tbl-wrap table {width: 100%;}
.tbl-wrap table th, .tbl-wrap table td {padding: .75em 1em; border-bottom: 1px solid var(--line-color); background-color: #fff; text-align: center;}
.tbl-wrap table thead th {border-top: 2px solid var(--primary-color); font-weight: 600; color: var(--primary-color);}
.tbl-wrap table tbody th {background-color: #E2E5F4; font-weight: 600;}
.tbl-wrap table tbody td {color: var(--text-color1); border-left: 1px solid var(--line-color);}
/* table : text align center */
.tbl-wrap.txt-agc {border-top: 2px solid var(--primary-color);}
/* table : text align left */
.tbl-wrap.txt-agl {border-top: 2px solid var(--primary-color);}
.tbl-wrap.txt-agl td {text-align: left;}
/* custom style 1 */
.tbl-wrap.ctm-st1 {}
.tbl-wrap.ctm-st1 thead th {background-color: var(--primary-color); color: #fff; border-bottom: 0;}
.tbl-wrap.ctm-st1 tbody th {background-color: #fff;}
/* custom style 2 */
.tbl-wrap.ctm-st2 thead th {background-color: var(--primary-color); color: #fff; border-bottom: 0; border-left: 1px solid var(--hover-color);}
.tbl-wrap.ctm-st2 thead th:nth-child(1) {border-left: 0;}
.tbl-wrap.ctm-st2 tbody th {background-color: #fff;}
@media screen and (max-width: 667px){
	.tbl-wrap {overflow-x: auto;}
	.tbl-wrap table {width: 40em;}
	.tbl-wrap.ctm-st2 table {width: 100%;}
}

/* login */
#login {width: 100%; height: 100vh;}
#login .login-frm {width: 100%; height: 100%; background-color: #fff; display: flex; flex-wrap: wrap; align-items: center;}
#login .login-frm .contents {max-width: 34em; padding: 2em; margin: 0 auto;}
#login .login-frm .logo {width: 100%; text-align: center;}
#login .login-frm .member-login {margin-top: 3.5em;}
#login .login-frm .member-login .frm-area { }
#login .login-frm .member-login .frm-area input {padding: 1.25em; padding-left: 4em;}
#login .login-frm .member-login .frm-area input[type="text"] {background: url("../image/icon/fill_user1.svg") 1.25em center no-repeat #fff;}
#login .login-frm .member-login .frm-area input[type="password"] {margin-top: .5em; background: url("../image/icon/fill_key.svg") 1.25em center no-repeat #fff;}
#login .login-frm .member-login p {text-align: right; margin-top: .5em;}
#login .login-frm .member-login p a {color: var(--text-color1);}
#login .login-frm .member-login button[type="submit"] {width: 100%; padding: .75em 1.5em; margin-top: 1.75em; justify-content: center;}
#login .login-frm .sns-login {} 
#login .login-frm .sns-login p {width: 100%; height: auto; margin: 2em 0; text-align: center; text-transform: uppercase; font-family: var(--eng-font); letter-spacing: 0; color: var(--text-color1); position: relative;}
#login .login-frm .sns-login p span {display: inline-block; padding: 0 1em; background-color: #fff; position: relative; z-index: 1;}
#login .login-frm .sns-login p:before {content: ''; display: block; width: 100%; height: 1px; background-color: var(--line-color); position: absolute; top: .5em; left: 0;}
#login .login-frm .sns-login button {width: 100%; justify-content: center; color: rgba(0, 0, 0, .85); font-weight: 500; position: relative;}
#login .login-frm .sns-login button i {display: block; width: 1.5em; height: 1.5em; background-position: center; background-repeat: no-repeat; position: absolute; top: 50%; left: 1em; transform: translateY(-50%);}
#login .login-frm .sns-login .kakao-login {background-color: #FEE500;}
#login .login-frm .sns-login .kakao-login i {background-image: url("../image/admin/kakao_symbol.svg");}
#login .login-frm .sns-login .google-login {margin-top: .5em; border: 1px solid #747775; background-color: #fff;}
#login .login-frm .sns-login .google-login i {background-image: url("../image/admin/google_symbol.svg");}

@media screen and (max-width: 926px){
	#login .login-frm .sns-login p span {background-color: var(--bg-blue);}
	#login .login-frm .sns-login p:before {background-color: rgba(0, 0, 0, .1);}
}

/* layout */
body {background-color: var(--bg-blue);}
#wrap {width: 100%; height: auto;}
#container {padding: 3em 4em; padding-left: calc(300px + 4em);}

@media screen and (max-width: 1440px){
	#container {padding: 6.5em 2em;}
}
@media screen and (max-width: 926px){
	#container {padding: 6.5em 1em;}
}

/* header */
#header .mob-head {width: 18.75em; height: 100%; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 10; transition: all .3s ease-out;}
#header .mob-head .logo {padding: 3.25em 2em; font-size: var(--font-size20);}
#header .mob-head .bt-group {padding: 0 2em;}
#header .mob-head .bt-group a {display: inline-flex; align-items: center; gap: 3.25em; padding: 1em 1.5em; border-radius: .5em; background-color: var(--bg-blue); border: 1px solid var(--bg-blue); font-weight: 600;}
#header .mob-head .bt-group a .ico {width: 3em; height: 3em; background: url("../image/icon/outline_add_white.svg") center / 2em no-repeat var(--primary-color); box-shadow: 4px 4px 10px rgba(0, 0, 0, .10);}
#header .mob-head .bt-group a:hover {color: var(--primary-color); border-color: var(--primary-color);}
#header .mob-head .bt-logout {position: absolute; bottom: 3em; left: 2em;}
/* header : gnb */
#header .gnb ul li {padding: .5em 2em; border-bottom: 1px solid var(--line-color); position: relative; margin-top: 1em;}
#header .gnb ul li a {display: flex; align-items: center; align-content: center; gap: 0 .5em;}
#header .gnb ul li a:after, #header .gnb ul li .current:after {content: ''; display: block; width: 4px; height: 3em; position: absolute; top: 0; right: 0;}
#header .gnb ul li a svg {display: block; width: 2em; height: 2em; color: var(--text-color1);}
#header .gnb ul li a:hover, #header .gnb ul li .current {color: var(--primary-color); font-weight: 700;}
#header .gnb ul li a:hover svg, #header .gnb ul li .current svg {color: var(--primary-color);}
#header .gnb ul li a:hover:after, #header .gnb ul li .current:after {background-color: var(--primary-color);}
/* header : menu button */
#header .bt-menu {display: none; width: 2.5em; height: 2.5em; position: fixed; top: 1em; left: 1em; background: url("../image/icon/menu.svg") center no-repeat; z-index: 10;}
#header .bt-menu.close {background-image: url("../image/icon/close2.svg");}
@media screen and (max-width: 1440px){
	#header .mob-head {opacity: 0; left: -18.75em; box-shadow: 0 0 10px rgba(0, 0, 0, .10);}
	#header .mob-head.open {opacity: 1; left: 0;}
	#header .bt-menu {display: block;}
}

/* header : logout */
.member-logout {position: absolute; top:2em; right:4em;}
.member-logout div[class^="user_"] {display: flex; align-items: center; gap:.5em; font-family: var(--eng-font); font-weight: 400; cursor: pointer;}
.member-logout div[class^="user_"] figure {width: 3em; height: 3em; border-radius: 100%; background-color: #E2E5F4; display: flex; justify-content: center; align-items: center; overflow:hidden;}
.member-logout div[class^="user_"] span {display: flex; align-items: center;}
.member-logout div[class^="user_"] span .ico {width: 1.75em; height: 1.75em; background-image: url("../image/icon/arrow_right1.svg"); transform:rotate(90deg);}

.member-logout .modal-layer.mem_info {display: none; width:20em; padding: 3em; position: absolute; top:4em; right:0 !important; transform:none; text-align: center; box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10); z-index: 9;}
.member-logout .modal-layer.mem_info.open {display: block;}
.member-logout .modal-layer.mem_info figure {position: relative; width: 4.5em; margin: 0 auto;}
.member-logout .modal-layer.mem_info figure button {display: block; width: 24px; height: 24px; border-radius: 100%; background-color: var(--primary-color); position: absolute; bottom:0; right:0;}
.member-logout .modal-layer.mem_info figure button .ico {width: 100%; height: 100%; background-image: url("../image/icon/pencil.svg");}
.member-logout .modal-layer.mem_info figure button:hover {background-color: #F6BD38;}
.member-logout .modal-layer.mem_info strong {display: block; width: 100%; padding: 1.5em 0; font-size: var(--font-size20); color: var(--text-color1);}
.member-logout .modal-layer.mem_info .bt-close {width: 2em; height: 2em; background: url("../image/icon/close.svg") center no-repeat; position: absolute; top:.6em; right:.6em;}

@media screen and (max-width: 1440px) {
	/* .member-logout {top: 1.5em; right:2em;} */
	.member-logout {width: 100%; height: auto; padding: 1em; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .10); position: fixed; top: 0; left: 0; z-index: 9; display: flex; justify-content: flex-end;}
	.member-logout div[class^="user_"] figure {width: 2.5em; height: 2.5em;}
	.member-logout .modal-layer.mem_info {right: 1em !important;}
}

/* container : contents */
.tit {font-size: var(--font-size24); font-weight: 700;}
.sub-tit {padding-bottom: 1em; font-size: var(--font-size24); font-weight: 700; border-bottom: 1px solid var(--line-color); display: flex; align-items: center; gap: .5em;}

/* contents : report */
.report {width: 100%; height: auto; margin:3.5em 0; display: grid; grid-template-columns: repeat(4, 1fr); gap: 2em;}
.report li {padding: 2em; padding-right:1em; background-color: #fff; border-radius: 1em; display: grid; grid-template-columns: 3.5em 1fr; align-items: center; gap: 1.62em; position: relative;}
.report li .ico {width: 3.5em; height: 3.5em; border-radius: 100%; background-image: url("../image/icon/fill_user2.svg"); background-size: 2.5em;}
.report li div {width: 100%; line-height: 1.2;}
.report li div p {font-weight: 700;}
.report li div em {display: block; padding:1em 0 0; font-weight: 600; color: var(--text-color1);}
.report li:nth-child(2) .ico {background-color: var(--secondary-color1);}
.report li:nth-child(3) .ico {background-color: var(--secondary-color2);}
.report li:nth-child(4) .ico {background-color: var(--secondary-color3);}
@media screen and (max-width: 1440px) {
	.report {margin-top: 2em;}
	.report li {grid-template-columns: 1fr; gap: 1em;}
}
@media screen and (max-width: 926px) {
	.report {gap: 1em;}
	.report li {padding: 1.5em;}
	.report li .ico {width: 2.5em; height: 2.5em; background-size: 1.75em;}
}
@media screen and (max-width: 667px) {
	.report {grid-template-columns: repeat(2, 1fr);}
}

/* forms : list */
.forms-list {width: 100%; height: auto;}
.forms-list .frm-select {display: flex; column-gap: 1.5em;}
.forms-list .frm-select .select-warp {width: 12em;}
.forms-list .list-wrap {width: 100%; height: auto; margin-top: 26px;}
.forms-list .list-wrap ul {display: grid; grid-template-columns: repeat(4, 1fr); gap: 4em 2em;}
.forms-list .list-wrap ul li {text-align: center;}
.forms-list .list-wrap ul li a {display: block; width: 100%; height: 100%; padding: 1.5em; background-color: #fff; border: 1px solid #fff; border-radius: 1em; position: relative;}
.forms-list .list-wrap ul li a:hover {border: 1px solid var(--primary-color); box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .10);}
.forms-list .list-wrap ul li a > .ico {width: 1.75em; height: 1.75em; border-radius: 100%; position: absolute; top: 1.5em; left: 1em; background-color: #fff;}
/*.forms-list .list-wrap ul li .thumb {display: block; width: 12.5em; height: 14.375em; margin: 0 auto; border: 1px solid #F4F6FB; border-radius: 1em; overflow:hidden;}*/
.forms-list .list-wrap ul li .thumb {display: flex; align-items: center; width: 12.5em; height: 14.375em; margin: 0 auto; border: 1px solid #F4F6FB; border-radius: 1em; overflow:hidden;}
.forms-list .list-wrap ul li .thumb .not-img {display: block; width: 100%; height: 100%; background-color: #F4F6FB; display: flex; justify-content: center; align-items: center;}
.forms-list .list-wrap ul li .thumb .not-img img {width: 2em;}
.forms-list .list-wrap ul li a h3 {width: 100%; height: 3.25em; margin: 1.5em 0 2.5em; font-weight: 500; line-height: 1.5; overflow: hidden; white-space: normal; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: keep-all;}
.forms-list .list-wrap ul li p {display: flex; padding: .25em .5em; align-items: center; gap: .5em; background-color: #F4F6FB; border-radius: .5em; position: absolute; bottom: 1.5em; right: 1.5em; font: 500 .875rem var(--eng-font); color: var(--text-color1); letter-spacing: 0;}
.forms-list .list-wrap ul li p .ico {width: 1.25em; height: 1.25em; background-image:url("../image/icon/outline_clock.svg"); background-size: cover;}
.forms-list .list-wrap ul li p .edit {width: 1.25em; height: 1.25em; background-image:url("../image/icon/outline_edit.svg"); background-size: cover;}
.forms-list .list-wrap ul li p .trash {width: 1.25em; height: 1.25em; background-image:url("../image/icon/outline_trash_blue.svg"); background-size: cover;}
.forms-list .list-wrap ul li p .send {width: 1.25em; height: 1.25em; background-image:url("../image/icon/fill_send_color.svg"); background-size: cover;}
.forms-list .list-wrap ul li p .end {width: 1.25em; height: 1.25em; background-image:url("../image/icon/outline_board.svg"); background-size: cover;}
.forms-list .list-wrap ul li.disalbed-item {opacity: .75;}
.forms-list .list-wrap ul li.disalbed-item a {pointer-events: none;} /* not click */
.forms-list .list-wrap ul li.disalbed-item .thumb .not-img {background-color: #f5f5f5;}
.forms-list .list-wrap ul li.disalbed-item .thumb img {filter: grayscale(100%);}
.forms-list .list-wrap ul li.disalbed-item a h3 {color: var(--text-color1);}
@media screen and (max-width: 1194px) {
	.forms-list .list-wrap ul {grid-template-columns: repeat(3, 1fr); gap: 4em 2em;}
}
@media screen and (max-width: 926px) {
	.forms-list .list-wrap ul {grid-template-columns: repeat(2, 1fr); gap: 4em 1em;}
}
@media screen and (max-width: 667px) {
	.forms-list .frm-select {width: 100%; flex-direction: column; row-gap: .5em;}
	.forms-list .frm-select .select-warp {width: 100%;}
	.forms-list .list-wrap ul {grid-template-columns: 1fr; gap: 2em 0;}
}
/* answer status */
.forms-list.answer-status {margin-top: 3em;}
.forms-list.answer-status .frm-select .select-warp {width: 21.5em;}
.forms-list.answer-status .status-list ul li .i-chart {width: 3em; height: 3em; margin-left: 2em; background: url("../image/icon/outline_chart_white.svg") center no-repeat var(--primary-color); box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .10); position: relative; z-index: 1;}
.forms-list.answer-status .status-list ul li a {padding: 2em 2em .5em; margin-top: -1.5em;}
.forms-list.answer-status .status-list ul li a > .ico {width: 2em; height: 2em; top: 1em; left: inherit; right: 1em;}
.forms-list.answer-status .status-list ul li em {display: block; padding: 1em 0; font-weight: 700;}
.forms-list.answer-status .status-list ul li .status-num {display: block; font-weight: 700; font-size: 1.5em; color: var(--text-color1);}
.forms-list.answer-status .status-list ul li .status-num mark {font-size: 1.67em; color: var(--primary-color);}
.forms-list.answer-status .status-list ul li p {display: inline-flex; position: static;}
@media screen and (max-width: 667px) {
	.forms-list.answer-status .frm-select .select-warp {width: 100%;}
	.forms-list.answer-status .status-list ul li .i-chart {display: none;}
	.forms-list.answer-status .status-list ul li a {padding: 2em; margin-top: 0;}
}

/* forms : write */
.forms-write-wrap {width: 100%; height: auto; margin-top: 3em; display: flex; justify-content: center;}
.forms-write-wrap .wr-setting {order: 2; max-width: 32%; position: sticky; top: 6em; right: 0; align-self: flex-start;}
.forms-write-wrap .wr-wrap {width: 68%; padding: 0 3em 0 6em; margin-right: 3.3em;}
.forms-write-wrap .wr-wrap .frm-area.subject {width: calc(100% - 4.5em);}
.forms-write-wrap .wr-wrap .container {width: 100%; height: auto; display: flex;}
.forms-write-wrap .wr-wrap .container .inner {width: 100%; height: auto;}
.forms-write-wrap .wr-wrap .container .floating {width: 3.5em; margin-left: 1em; position: sticky; top: 6em; right: 0; align-self: flex-start;}
.forms-write-wrap .bt-wrap.mobile {display: none; order: 3;}
@media screen and (max-width: 1680px) {
    .forms-write-wrap .wr-wrap {padding: 0 2em 0 0; margin-right: 2em;}
}
@media screen and (max-width: 1194px) {
    .forms-write-wrap {flex-direction: column; margin-top: 2em;}
    .forms-write-wrap .wr-setting {order: 1; width: 100%; max-width: 100%; position: static;}
    .forms-write-wrap .wr-setting .bt-wrap {display: none;}
    .forms-write-wrap .wr-wrap {order: 2; width: 100%; padding: 0; margin-right: 0; margin-top: 2em;}
    .forms-write-wrap .wr-wrap .frm-area.subject {width: 100%;}
    .forms-write-wrap .wr-wrap .container .floating {position: fixed; top: initial; bottom: 6em; right: .25em;}
    .forms-write-wrap .bt-wrap.mobile {display: flex;}
}
/* forms : write : steting */
.forms-write-wrap .wr-setting .que-count {width: 100%; height: auto; padding: 1.5em; margin-bottom: 1em; background-color: #fff; border-radius: 1rem;}
.forms-write-wrap .wr-setting .que-count > p {padding-bottom: 1em; font-weight: 500;}
.forms-write-wrap .wr-setting .que-count ul {display: grid; grid-template-columns: repeat(3, minmax(auto, 1fr)); gap: 1em;}
.forms-write-wrap .wr-setting .que-count ul li {padding: 2em 1em 1em; background-color: #F4F6FB; border-radius: 1rem; position: relative;}
.forms-write-wrap .wr-setting .que-count ul li .ico {display: block; width: 24px; height: 24px; position: absolute; top: .5em; right: .5em;}
.forms-write-wrap .wr-setting .que-count ul li em {display: block; font-weight: 700; font-size: 1.5em; color: var(--primary-color);}
.forms-write-wrap .wr-setting .que-count ul li p {display: block; padding-top: .5em; font-weight: 500; font-size: 14px;}
.forms-write-wrap .wr-setting .que-count ul li:nth-child(1) .ico {background-image: url("../image/icon/outline_short.svg");}
.forms-write-wrap .wr-setting .que-count ul li:nth-child(2) .ico {background-image: url("../image/icon/outline_radio_active.svg");}
.forms-write-wrap .wr-setting .que-count ul li:nth-child(3) .ico {background-image: url("../image/icon/outline_view.svg");}
.forms-write-wrap .wr-setting .que-count ul li:nth-child(4) .ico {background-image: url("../image/icon/outline_textalign.svg");}
.forms-write-wrap .wr-setting > ul {width: 100%; height: auto; padding: 1.5em; background-color: #fff; border-radius: 1rem; display: grid; grid-template-columns: 1fr; gap: 1.5em;}
.forms-write-wrap .wr-setting > ul > li > em {display: block; padding-bottom: 1em; font-weight: 500;}
.forms-write-wrap .wr-setting > ul > li > input {margin: .25em 0;}
.forms-write-wrap .wr-setting > ul > li > .frm-area {display: flex; gap: .5em;}
.forms-write-wrap .wr-setting > ul > li > .frm-area .nice-select {width: 100%;}
@media screen and (max-width: 1194px) {
	.forms-write-wrap .wr-setting .que-count ul {grid-template-columns: repeat(4, minmax(auto, 1fr));}
	.forms-write-wrap .wr-setting ul {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (max-width: 667px) {
	.forms-write-wrap .wr-setting .que-count {display: none;}
	.forms-write-wrap .wr-setting ul {grid-template-columns: 1fr;}
}
@media screen and (max-width: 430px) {
	.forms-write-wrap .wr-setting ul li input[type="date"] {width: 100%; max-width: 100%;}
}
/* forms : write : form area */
.forms-write-wrap .wr-wrap .frm-area {width: 100%; height: auto; padding: 1.5em; margin-bottom: .5em; border: 1px solid var(--line-color); background-color: #fff; border-radius: 1em; display: flex; flex-wrap: wrap;}
.forms-write-wrap .wr-wrap .frm-area .inp-group .number {display: flex; justify-content: center; align-items: center; border-radius: 100%; background-color: var(--primary-color); color: #fff; font-family: var(--eng-font); font-weight: 500;} 
.forms-write-wrap .wr-wrap .frm-area .inp-group {width: calc(100% - 10em); padding-right: 1em; display: flex; flex-direction: column; gap: .5em 0;}
.forms-write-wrap .wr-wrap .frm-area .inp-group i {width: 2em; height: 2em;}
.forms-write-wrap .wr-wrap .frm-area .inp-group input[type="text"] {width: 100%; padding: 1em 0; outline: none; border-bottom: 1px solid var(--line-color);}
.forms-write-wrap .wr-wrap .frm-area .frm-upload {width: 10em;}
.forms-write-wrap .wr-wrap .frm-area .bottom-sheets {width: 100%; height: auto; padding: .5em 0; margin-top: 1em; border-top: 1px solid var(--line-color);}
.forms-write-wrap .wr-wrap .frm-area .bottom-sheets .bt-delete {width: 1.5em; height: 1.5em; background: url("../image/icon/outline_trash_blue.svg") center / cover no-repeat;}
/* forms : write : form area : subject */
.forms-write-wrap .wr-wrap .subject {flex-wrap: nowrap;}
.forms-write-wrap .wr-wrap .subject .inp-group input[type="text"] {border-bottom: none; padding: 10px;}
.forms-write-wrap .wr-wrap .subject .inp-group #subject {font-size: 2em; font-weight: 600;}
@media screen and (max-width: 430px) {
	.forms-write-wrap .wr-wrap .frm-area {flex-direction: column;}
	.forms-write-wrap .wr-wrap .frm-area .inp-group, .forms-write-wrap .wr-wrap .frm-area .frm-upload {width: 100%;}
	.forms-write-wrap .wr-wrap .frm-area .inp-group {padding-right: 0;}
	.forms-write-wrap .wr-wrap .frm-area .frm-upload {margin-top: 1em;}
	.forms-write-wrap .wr-wrap .subject .frm-upload .img-view {width: 10em; margin: 0 auto;}
}
/* forms : write : form area : multiple choice */
.forms-write-wrap .wr-wrap .multiple-choice ol {display: flex; flex-direction: column; gap: .5em;}
.forms-write-wrap .wr-wrap .multiple-choice ol li {display: flex; align-items: center; gap: .5em;}
.forms-write-wrap .wr-wrap .multiple-choice ol li input[type="text"] {border-bottom: none !important; padding: 0 !important;}
/* forms : write : form area : multiple choice : view items */
.forms-write-wrap .wr-wrap .multiple-choice .que-viewitem {width: 100%; height: auto; padding: 1em 0 1.5em; margin-bottom: 1em; border-bottom: 1px solid var(--line-color); display: flex; flex-direction: column; align-items: center;}
.forms-write-wrap .wr-wrap .multiple-choice .que-viewitem p {display: inline-block; padding: .5em 1em; background-color: #fff; border: 1px solid var(--line-color); border-radius: 2em; font-weight: 500; position: relative;}
.forms-write-wrap .wr-wrap .multiple-choice .que-viewitem ol {width: 100%; padding: 1.5em; margin-top: -1em; border: 1px solid var(--line-color); border-radius: 1rem;}
.forms-write-wrap .wr-wrap .multiple-choice .que-viewitem ol li {padding: .5em 0; border-bottom: 1px solid var(--line-color);}
/* forms : write : form area : multiple choice : items */
.forms-write-wrap .wr-wrap .multiple-choice .subject-valid li {width: 100%; height: auto; padding: .5em; border-radius: 2.5rem; border: 1px solid var(--line-color);}
.forms-write-wrap .wr-wrap .multiple-choice .subject-valid li .ctm-radio {padding:0;}
/* forms : write : answer */
.forms-write-wrap .wr-wrap .frm-answer {margin-top: 1em; display: flex; flex-direction: column; gap: .5em;}
.forms-write-wrap .wr-wrap .frm-answer li {width: 100%; height: auto; display: flex; align-items: center; gap: .5em;}
.forms-write-wrap .wr-wrap .frm-answer li input[type="text"] {width: calc(100% - 32px) !important; padding: .65em 1.25em !important; border-radius: 2.5rem; border: 1px solid var(--line-color); background-color: var(--bg-blue);}
.forms-write-wrap .wr-wrap .frm-answer li button {display: block; width: 32px; height: 32px; border-radius: 100%; border: 2px solid currentColor; background-position: center;}
.forms-write-wrap .wr-wrap .frm-answer li .bt-add {background-image: url("../image/icon/outline_add.svg"); color: var(--text-color1);}
.forms-write-wrap .wr-wrap .frm-answer li .bt-remove {background-image: url("../image/icon/outline_remove_red.svg"); color: var(--secondary-color2);}
/* forms : write : floating */
.forms-write-wrap .floating button {width: 3.5em; height: 3.5em; border-radius: 100%; display: flex; justify-content: center; align-items: center; transition: all .3s}
.forms-write-wrap .floating button .ico {width: 2em; height: 2em;}
.forms-write-wrap .floating .floating-menu {background: url("../image/icon/arrow_down.svg") center no-repeat var(--secondary-color1); margin-bottom: .25em;}
.forms-write-wrap .floating ul {display: none;}
.forms-write-wrap .floating ul li {position: relative; margin-bottom: .25em;}
.forms-write-wrap .floating ul li button {background-color: #fff; border: 1px solid var(--line-color);}
.forms-write-wrap .floating ul li:nth-child(1) .ico {background-image: url("../image/icon/outline_short.svg");}
.forms-write-wrap .floating ul li:nth-child(2) .ico {background-image: url("../image/icon/outline_textalign.svg");}
.forms-write-wrap .floating ul li:nth-child(3) .ico {background-image: url("../image/icon/outline_radio_active.svg");}
.forms-write-wrap .floating ul li:nth-child(4) .ico {background-image: url("../image/icon/outline_view.svg");}
.forms-write-wrap .floating ul li button .tooltip {opacity: 0; padding: .5em 1em; font-size: .75em; font-weight: 500; color: #fff; background-color: var(--basic-color); border-radius: .5em; position: absolute; top: 50%; left: 4em; transform: translateY(-50%); transition: all .2s;}
.forms-write-wrap .floating ul li button:hover .tooltip {opacity: 1; left: 5em;}
.forms-write-wrap .floating .bt-page {display:flex; align-items: center; justify-content: center; width: 3.5em; height: 3.5em; border-radius: 100%; background-color:var(--text-color1);}
.forms-write-wrap .floating .bt-page .ico {width: 1.5em; height: 1.5em; background: url("../image/icon/arrow_right2_white.svg") center / 2em no-repeat; transform: rotate(-90deg);}
/* forms : write : floating open */
.forms-write-wrap .floating.open .floating-menu {transform: rotate(-180deg);}
.forms-write-wrap .floating.open ul {display: block;}
@media screen and (max-width: 1194px) {
	.forms-write-wrap .floating button, .forms-write-wrap .floating .bt-page {width: 3em; height: 3em;}
	.forms-write-wrap .floating ul li button .tooltip {left: inherit; right: 4em;}
	.forms-write-wrap .floating ul li button:hover .tooltip {left: inherit; right: 5.25em;}
}
/* forms : write : button wrap */
.forms-write-wrap .bt-wrap {width: 100%; height: auto; display: flex; justify-content: center; gap: .5em; margin-top: 1em;}
.forms-write-wrap .bt-wrap button {width: 100%; max-width: 12.75em;}
.forms-write-wrap .bt-wrap button .ico {width: 1.5em; height: 1.5em;}
.forms-write-wrap .bt-wrap .st-ico .ico {background-image: url("../image/icon/outline_timer_pause_blue.svg");}
.forms-write-wrap .bt-wrap .st-fill .ico {background-image: url("../image/icon/approve_white.svg")}
.forms-write-wrap .bt-wrap.mobile {position: fixed; bottom: 0; left: 0; z-index: 1; padding: 1em; background-color: #fff; border-top: 1px solid var(--line-color);}
@media screen and (max-width: 667px) {
	.forms-write-wrap .bt-wrap button {max-width: 100%;}
}

/* my forms */
.my-forms {width: 100%; height: auto; display: flex; justify-content: space-between;}
.my-forms .report {order: 2; max-width: 21.4em; grid-template-columns:1fr; gap: 1em;}
.my-forms .view-wrap {width: calc(100% - 21.4em); padding: 0 10%; margin-top: 3.5em;}
@media screen and (max-width: 1680px) {
	.my-forms .view-wrap {padding: 0 5%;}
}
@media screen and (max-width: 1440px) {
	.my-forms .report li {grid-template-columns: 3.5em 1fr;}
	.my-forms .view-wrap {padding: 0 2em; margin-top: 2em;}
}
@media screen and (max-width: 926px) {
	.my-forms {flex-direction: column;}
    .my-forms .report {max-width: 100%; grid-template-columns: repeat(4, 1fr);}
	.my-forms .report li {display: flex; flex-direction: column; align-items: flex-start;}
	.my-forms .view-wrap {order: 2; width: 100%; padding: 0; margin-top: 0;}
}
@media screen and (max-width: 667px) {
	.my-forms .report {grid-template-columns: repeat(2, 1fr);}
}

/* my forms : tab */
.my-forms .view-wrap .tab_menu {width: 100%; height: auto; padding: 0 1.5em; background-color: #fff; border-radius: 1em; display: grid; grid-template-columns: repeat(4, 1fr);}
.my-forms .view-wrap .tab_menu li {width: 100%; height: auto; padding: 1.5em; text-align: center; font-weight: 600; color: var(--text-color1); cursor: pointer; position: relative;}
.my-forms .view-wrap .tab_menu li:before {content: ''; display: block; opacity: 0; width: 70%; height: 3px; background-color: var(--primary-color); position: absolute; bottom: 0; left: 0; transition: all .2s linear;}
.my-forms .view-wrap .tab_menu li.active {color: var(--primary-color);}
.my-forms .view-wrap .tab_menu li.active:before {opacity: 1; width: 100%;}
.my-forms .view-wrap .tab_cont {display: none; width: 100%; height: auto; min-height: 28.5em; padding: 1.5em; margin-top: .5em; background-color: #fff; border-radius: 1em;}
.my-forms .view-wrap .tab_cont.active {display: block;}
.my-forms .view-wrap .tab_cont ul {display: flex; flex-direction: column; gap: 1.5em;}
.my-forms .view-wrap .tab_cont ul li em, .my-forms .view-wrap .tab_cont ul li label {display: block; padding-bottom: .62em; font-weight: 500;}
.my-forms .view-wrap .tab_cont ul li .frm-area a {width: 100%; justify-content: center;}
.my-forms .view-wrap .tab_cont ul li .frm-area a .ico {width: 1.5em; height: 1.5em; border-radius: 0;}
.my-forms .view-wrap .tab_cont ul li .frm-area p {padding: 8px; font-weight: 500; font-size: 13px; color: var(--text-color1); line-height: 1.2;}
/* my forms : tab 3 */
.my-forms .view-wrap #tab3 ul li .frm-area {display: flex; column-gap: .5em;}
.my-forms .view-wrap #tab3 ul li .frm-area .nice-select {width: calc(100% - 10em);}
.my-forms .view-wrap #tab3 ul li .frm-area .nice-select .list {gap: 0;}
.my-forms .view-wrap #tab3 .not-result {border: 0;}
@media screen and (max-width: 667px) {
	.my-forms .view-wrap .tab_menu {grid-template-columns: repeat(2, 1fr);}
}

/* group */
.group-wrap {margin-top: 2em;}
.group-wrap .report li .bt-modify {position: absolute; top: 1em; right: 1em;}

/* group : list */
.group-list {display: grid; grid-template-columns: repeat(3, 1fr); gap: 2em;}
.group-list .group-item {padding: 2em; border: 1px solid var(--line-color); background-color: #fff; border-radius: 1em; position: relative;}
.group-list .group-item h3 {font-weight: 700; font-size: 1.5em; padding-bottom: 1.33em;}
.group-list .group-item p {margin-top: 2em; color: var(--text-color1); line-height: 1.2;}
.group-list .group-item p span {display: flex; align-items: center; column-gap: .25em; margin-bottom: .5em; font-weight: 500; font-size: .875em; color: var(--basic-color);}
.group-list .group-item p span .ico {width: 1.5em; height: 1.5em; background-image: url("../image/icon/fill_message.svg"); border-radius: 0;}
.group-list .group-item .bt-group {display: grid; grid-template-columns: repeat(2, 1fr); gap: .5em; margin-top: 2em;}
.group-list .group-item .bt-group .ico {border-radius: 0;}
.group-list .group-item .bt-group a {justify-content: center;}
@media screen and (max-width: 1194px) {
	.group-list {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (max-width: 926px) {
	.group-list {grid-template-columns: 1fr; gap: 1em;}
	.group-list .group-item .bt-group {display: flex; flex-direction: column; position: absolute; top: 0; right: 2em;}
}
@media screen and (max-width: 430px) {
	.group-list .group-item .bt-group {position: static;}
}
/* group : write */
.group-write {max-width: 768px; margin: 0 auto;}
.group-write h4 {padding: 2em 2em 1.5em 2em; border-radius: 1em 1em 0 0; background-color: #fff; border: 1px solid var(--line-color); font-weight: 700;}
.group-write .forms-write-wrap {flex-direction: column; gap: 2em; padding: 2em; margin-top: 0; border-radius: 0 0 1em 1em; background-color: #fff; border: 1px solid var(--line-color); border-top: 0;}
.group-write .frm-area .inp-group label {display: flex; align-items: center; gap: .5em; margin-bottom: 1em; font-weight: 500;}
.group-write .frm-area .inp-group label em {display: block; width: 8px; height: 8px; border-radius: 100%; background-color: var(--primary-color); font-size: 0;}
.group-write .frm-area p {margin-top: 1em; font-weight: 500; font-size: .8125em; color: var(--secondary-color2);}
.group-write .bt-group {display: flex; justify-content: center; margin-top: 1em;}
.group-write .bt-group .st-fill .ico {background-image: url("../image/icon/approve_white.svg");}
/* group : status list */
.group-status-list {display: flex; flex-direction: column;}
.group-status-list .tbl-wrap {order: 2; margin-top: 1em;}
.group-status-list .tbl-wrap thead th {position: relative;}
.group-status-list .tbl-wrap thead th .ctm-chk input[type="checkbox"] {border-color: #fff;}
.group-status-list .tbl-wrap thead th .ctm-chk input[type="checkbox"]:checked:before {background-image: url("../image/icon/approve_white.svg");}
.group-status-list .tbl-wrap thead th button {position: absolute; top: 1em; right: 1em;}
.group-status-list .tbl-wrap thead th button .ico {width: 1.25em; height: 1.25em; border-radius: 0; background-size: contain;}
.group-status-list .tbl-wrap tbody td a {display: inline-block;}
.group-status-list .tbl-wrap tbody td a .ico {width: 1.5em; height: 1.5em; border-radius: 0;}
.group-status-list .bt-group {order: 1; display: flex; justify-content: space-between;}
.group-status-list .pagenate {order: 3;}
@media screen and (max-width: 667px) {
	.group-status-list .tbl-wrap colgroup col:nth-child(2),
	.group-status-list .tbl-wrap table thead th:nth-child(2),
	.group-status-list .tbl-wrap table tbody td:nth-child(2),
	.group-status-list .tbl-wrap colgroup col:nth-child(4),
	.group-status-list .tbl-wrap table thead th:nth-child(4),
	.group-status-list .tbl-wrap table tbody td:nth-child(4) {display: none;}
}

/* view form */
#viewform-wrap #header {padding: .5em 1em; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .10); display: grid; justify-content: end;}
#viewform-wrap #header .member-logout {position: static;}
#viewform-wrap #header .member-logout .modal-layer.mem_info {top: 4em; right: 1em !important;}
#viewform-wrap #container {max-width: 768px; padding: 2em 0; margin: 0 auto;}
#viewform-wrap .forms-write-wrap {display: block;}
#viewform-wrap .forms-write-wrap .wr-wrap {width: 100%; padding: 0 !important; margin: 0 !important;}
#viewform-wrap .forms-write-wrap .wr-wrap .subject h3 {padding: .25em 0; font-weight: 600; font-size: 2em;}
#viewform-wrap .forms-write-wrap .frm-area {line-height: 1.4; position: relative;}
#viewform-wrap .forms-write-wrap .frm-area .inp-group {width: 100%; padding-right: 0;}
#viewform-wrap .forms-write-wrap .frm-area h4 {padding: .5em 0; font-weight: 500; font-size: 1.125em;}
#viewform-wrap .forms-write-wrap .frm-area .img-view {text-align: center;}
#viewform-wrap .forms-write-wrap .frm-area textarea {padding: 1em 0; border-bottom: 1px solid var(--line-color); outline: none; resize: vertical;}
#viewform-wrap .forms-write-wrap .frm-area button {position: absolute; top: 1em; left: 4em;}
#viewform-wrap .forms-write-wrap .wr-wrap .multiple-choice ol {gap: 1em;}
#viewform-wrap .forms-write-wrap .wr-wrap .multiple-choice ol li {border: 0; padding: 0;}
#viewform-wrap .forms-write-wrap .wr-wrap .multiple-choice .que-viewitem {border-bottom: 0; margin-bottom: 0;}
#viewform-wrap .forms-write-wrap .floating {display: grid; row-gap: .5em;}
#viewform-wrap .forms-write-wrap .floating .bt-page {background-color: var(--secondary-color1);}
#viewform-wrap .forms-write-wrap .floating .bt-btm .ico {transform: rotate(90deg);}
#viewform-wrap .forms-write-wrap .floating .floating_item li .ico {background-image: url("../image/icon/outline_note.svg");}
#viewform-wrap .forms-write-wrap .bt-wrap .st-ico {justify-content: center;}

@media screen and (max-width: 1440px) {
	#viewform-wrap #header .member-logout {padding: 0; background-color: transparent; box-shadow: none; position: static; left: inherit;}
}
@media screen and (max-width: 1194px) {
	#viewform-wrap #container {padding-bottom: 6.5em;}
	#viewform-wrap .forms-write-wrap .bt-wrap {position: fixed; bottom: 0; left: 0; z-index: 1; padding: 1em; background-color: #fff; border-top: 1px solid var(--line-color);}
}
@media screen and (max-width: 926px) {
	#viewform-wrap #container {padding: 2em 1em 6.5em;}
}